
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategrey;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-1{
    background: linear-gradient(0.9turn, #e089ff, #47bdff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.allmargin{
    margin: 10px;
}